
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
a:hover {
  color: red;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

html {
  height: 101%;
  font-family: "Roboto", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  font-size: 1.25em;
  padding:20px;
  max-width: 1200px;
  background: #fff;
  color: #222;
}

.header {
  border-bottom: 2px solid #006666;
  margin-bottom: 15px;
}
.header,
.main {
  opacity:0;
}
.logo {
  display: block;
  float:left;
  padding-right:15px;
  font-family:"Press Start 2P";
  -webkit-transition: 5s;
  transition: .5s;
  margin-bottom:0px;
}
.logo:hover {
  color:#333;
  -webkit-transition: 5s;
  transition: .5s;
}
.logo img {
  width: 2em;
}
.title-text h3 {
  font-weight:100;
  float:right;
  font-family:"Roboto";
  color:#333;
  margin-bottom:0;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 300;
  text-align:left;
  color:#333;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 300;
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 400;
}
h4 {
  font-size: 1.125em;
  font-weight: 200;
  padding:10px 0;
}
h1 a, h2 a, h3 a, h4 a {
  color: #006666;
  border: 0 !important;
}
h2,h3,h4,h5 {
  color:#006666;
  font-family:"Poppins";
  margin-bottom:15px;
}
p {
  margin-bottom:15px;
  font-weight:100;
  line-height:1.3em;
  color:#555;
}
strong, b {
  font-weight:400;
}

.main {
  padding-bottom:10em;
}

.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: red;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}

.teaser {
  list-style: none;
  margin-top:40px;
}
.teaser li {
  margin-bottom: 1.5em;
  list-style: none;
}
@media screen and (min-width: 50em) {
  .teaser li {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .teaser li:first-child {
    margin-left: 0;
  }
}

.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}

.footer {
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: red;
  padding-left: .25em;
}



li {
  list-style-type:none;
}
.tabs {
  width:100%;
  margin:0 auto;
}
.tabs li {
  float:left;
  width:33.3%;
  padding:5px;
  text-align:center;
  font-size:38px;
  font-family:"Poppins";
  font-weight:300;
  color:#fff;
  border-right:1px solid #999;
  cursor:pointer;
  -webkit-transition: .5s;
  transition: .5s;
}
.tabs li.current,
.tabs li.current:hover {
background:#006666;
}
.tabs li:hover {
  background:#444;
  -webkit-transition: 5s;
  transition: .5s;
}
.tabs li:last-child {
  border:none;
}
.tab-content {
  display:none;
}
.tab-content.current {
  display:block;
}
.projects {
  width:100%;
  margin:0 auto;
}
.projects li {
  opacity:0;
  width:33.33%;
  padding:10px;
  float:left;
}
#main-nav {
  position:fixed;
  background:#333;
  margin:0 auto;
  z-index:99;
  bottom:0;
  left:0;
  right:0;
  width:100%;
}
#about.tab-content {
  text-align:center;
}
#about.tab-content img {
  max-width:200px;
  border-radius:50%;
  margin:0 auto;
  margin-bottom:20px;
}
#work.tab-content h4 {
  line-height:1em;
  color:#333;
}
#work.tab-content h4,
#work.tab-content p
 {
  margin-bottom:0;
}
#resume.tab-content h1 {
  margin-bottom:20px;
}
